@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: rubik, sans-serif;
}
:root {
  --primary-color: #2c3e50;
  --secondary-color: #080808;
  --text-color: #333;
  --bg-color: #ffffff;
  --hover-color: #ff0000;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --nav-color:white;
}
body {
 background-color: var(--bg-color);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.content {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
h1 {
  color: rgb(82, 8, 157);
  font-size: 3vw;
  font-weight: 600;
  text-shadow: 1px 1px 1px;
}
p {
  font-size: 2vw;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1px;
}
.search {
  margin-top: 10px;
  width: 60vw;
  height: 9vh;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 450px) {
  .search {
    width: 90vw;
    height: 6vh;
  }
}
.search input {
  width: 70vw;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: var(--bg-color);
 color: var(--text-color);
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}


a {
  text-decoration: none;
}
.image-gallary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
.image-gallary .gallary {
  columns: 5 200px;
  max-width: 95%;
  margin-top: 50px;
}
@media screen and (max-width:450px) {
  
    .image-gallary .gallary {
      columns: 2;
    }
 
}
.images {
  overflow: hidden;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
}
.images img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
}
.images img:hover {
  scale: 110%;
}
.images .detail {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, black, transparent);
  padding: 5px;
  transition: all 0.8s;
}
.images:hover .detail {
  bottom: 0;
}
.imp {
  color: white;
  margin-top: 5px;
}
.detail .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 30px;
  margin-left: 20px;
}
.download img {
  padding: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
  width: 25px;
  background-color: red;
}
.download img:hover {
  background-color: rgb(92, 6, 6);
}
#load {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1vw;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background-color: #990707;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#load:hover {
  background-color: #990707b6;
  transition: all 1s;
}
